# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
